* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
}
.mainbody1 {
  height: 730vh;
  width: 60vw;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 80px;
}
.body1 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.box1 {
  width: 29vw;
  height: 400px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(223, 223, 223);
}
.text1 {
  margin-left: 10px;
}
.box2 {
  width: 29vw;
  height: 400px;
}
.body2 {
  width: 60vw;
  height: 260px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.box3 {
  width: 260px;
  height: 260px;
  font-size: 13px;
}
.orlogo {
  margin-top: 30px;
}
.header2 {
  display: flex;
  gap: 12px;
  margin-top: 30px;
}
.story {
  color: white;
  background-color: rgb(0, 160, 160);
  border-radius: 10px;
}
.body3 {
  width: 60vw;
  height: 230px;
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
}
.sar-1 {
  display: flex;
}
.sar {
  display: flex;
  justify-content: space-between;
  width: 35vw;
  height: 50px;
}
.sar1 {
  width: 100px;
  height: 6px;
  border-radius: 8px;
}
.sar2 {
  width: 100px;
  height: 6px;
  border-radius: 8px;
  margin-top: 20px;
}
.box5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mainbody2 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.body4 {
  width: 35vw;
  height: 2790px;
}
.box6 {
  width: 35vw;
  height: 170px;
  display: flex;
  font-size: 12px;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.text2 {
  align-items: center;
}
.uzeh {
  width: 35vw;
  height: 60px;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body5 {
  width: 18vw;
  height: 2402px;
}
.zurag1 {
  width: 18vw;
  height: 310px;
  font-size: 12px;
}
.box33 {
  width: 18vw;
  height: 100px;
  border: 1px solid black;
  font-size: 12px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.medeelel1 {
  color: red;
  font-size: 30px;
}
.box34 {
  margin-top: 10px;
}
.mainbody3 {
  width: 60vw;
  height: 565px;
  display: flex;
  margin-top: 20px;
  gap: 36px;
}
.mainbody3 {
  display: flex;
  gap: 36px;
}
.zurag2 {
  width: 576px;
  height: 283px;
  display: flex;
  gap: 36px;
}
.zurag3 {
  width: 560px;
  height: 240px;
  font-size: 13px;
}
.body6 {
  margin-top: 20px;
  width: 60vw;
  height: 240px;
  display: flex;
  justify-content: space-between;
}
.harhuree {
  margin-top: 50px;
}
.garchig1 {
  display: flex;
  gap: 10px;
}
.door {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  height: 150px;
  margin-top: 30px;
}
.door2 {
  width: 60vw;
  height: 100px;
}
